.home,
.home * {
  box-sizing: border-box;
}
.home {
  background: #3e548d;
  width: 375px;
  height: 812px;
  position: relative;
  overflow: hidden;
}
.rectangle-1 {
  background: #fafafa;
  border-radius: 25px 25px 0px 0px;
  width: 375px;
  height: 715px;
  position: absolute;
  left: 0px;
  top: 97px;
}
.vector {
  height: auto;
  position: absolute;
  right: 90.13%;
  left: 4.53%;
  width: 5.33%;
  bottom: 91.01%;
  top: 6.53%;
  height: 2.46%;
  overflow: visible;
}
.filter-1 {
  width: 52px;
  height: 50px;
  position: absolute;
  left: 313px;
  top: 38px;
  overflow: hidden;
}
.group {
  height: auto;
  position: absolute;
  right: 17.65%;
  left: 17.65%;
  width: 64.71%;
  bottom: 26.47%;
  top: 8.82%;
  height: 64.71%;
  overflow: visible;
}
.vector3 {
  height: auto;
  position: absolute;
  right: 34.85%;
  left: 32.41%;
  width: 32.73%;
  bottom: 44.98%;
  top: 45.44%;
  height: 9.58%;
  overflow: visible;
}
.vector4 {
  height: auto;
  position: absolute;
  right: 34.79%;
  left: 32.35%;
  width: 32.86%;
  bottom: 66.89%;
  top: 23.53%;
  height: 9.58%;
  overflow: visible;
}
.vector5 {
  height: auto;
  position: absolute;
  right: 34.79%;
  left: 32.35%;
  width: 32.86%;
  bottom: 55.93%;
  top: 34.49%;
  height: 9.58%;
  overflow: visible;
}
.davangere {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 58px;
  top: 48px;
}
.harihara {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 223px;
  top: 48px;
}
.rectangle-3 {
  background: #ffffff;
  border-radius: 10px;
  width: 59px;
  height: 59px;
  position: absolute;
  left: 14px;
  top: 115px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-4 {
  background: #ffffff;
  border-radius: 10px;
  width: 59px;
  height: 59px;
  position: absolute;
  left: 227px;
  top: 115px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-5 {
  background: #ffffff;
  border-radius: 10px;
  width: 59px;
  height: 59px;
  position: absolute;
  left: 85px;
  top: 115px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-6 {
  background: #ffffff;
  border-radius: 10px;
  width: 59px;
  height: 59px;
  position: absolute;
  left: 298px;
  top: 115px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-7 {
  background: #4ccb9e;
  border-radius: 10px;
  width: 59px;
  height: 59px;
  position: absolute;
  left: 156px;
  top: 115px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.25);
}
.ship-1 {
  width: 36px;
  height: 23px;
  position: absolute;
  left: 310px;
  top: 133px;
  overflow: visible;
}
.car-1 {
  width: 24px;
  height: 20px;
  position: absolute;
  left: 32px;
  top: 135px;
  overflow: visible;
}
.train-1 {
  width: 20px;
  height: 25px;
  position: absolute;
  left: 105px;
  top: 133px;
  overflow: visible;
}
.bus-1 {
  width: 19px;
  height: 22px;
  position: absolute;
  left: 178px;
  top: 133px;
  overflow: visible;
}
.airoplane-1 {
  width: 22px;
  height: 21px;
  position: absolute;
  left: 246px;
  top: 134px;
  overflow: visible;
}
.ticket-1 {
  width: 303px;
  height: 147px;
  position: absolute;
  left: 36px;
  top: 201px;
}
.subtract {
  width: 303px;
  height: 147px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.davangere2 {
  color: #455a64;
  text-align: left;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 13px;
  font-weight: 500;
  position: absolute;
  right: 58.42%;
  left: 17.49%;
  width: 24.09%;
  bottom: 56.46%;
  top: 29.93%;
  height: 13.61%;
}
._17-jan-2024 {
  color: #aaa4be;
  text-align: left;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 13px;
  font-weight: 500;
  position: absolute;
  right: 54.79%;
  left: 17.49%;
  width: 27.72%;
  bottom: 43.54%;
  top: 42.86%;
  height: 13.61%;
}
.harihara2 {
  color: #455a64;
  text-align: left;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 13px;
  font-weight: 500;
  position: absolute;
  right: 63.37%;
  left: 17.49%;
  width: 19.14%;
  bottom: 26.53%;
  top: 59.86%;
  height: 13.61%;
}
._17-jan-20242 {
  color: #ada5bd;
  text-align: left;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 13px;
  font-weight: 500;
  position: absolute;
  right: 54.79%;
  left: 17.49%;
  width: 27.72%;
  bottom: 13.61%;
  top: 72.79%;
  height: 13.61%;
}
._9-00-am {
  color: #3e548d;
  text-align: left;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 18px;
  font-weight: 500;
  position: absolute;
  right: 4.29%;
  left: 70.3%;
  width: 25.41%;
  bottom: 74.15%;
  top: 7.48%;
  height: 18.37%;
}
.rectangle-9 {
  background: #8bd8bd;
  border-radius: 10px;
  position: absolute;
  right: 85.15%;
  left: 4.29%;
  width: 10.56%;
  bottom: 46.26%;
  top: 31.97%;
  height: 21.77%;
}
.line-1 {
  border-style: dashed;
  border-color: #f4f2f5;
  border-width: 2px 0 0 0;
  position: absolute;
  right: 1.47%;
  left: 61.22%;
  width: 37.31%;
  bottom: 12.23%;
  top: 87.77%;
  height: 0%;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.rectangle-10 {
  background: #8bd8bd;
  border-radius: 10px;
  position: absolute;
  right: 85.15%;
  left: 4.29%;
  width: 10.56%;
  bottom: 15.65%;
  top: 62.59%;
  height: 21.77%;
}
.send-1 {
  height: auto;
  position: absolute;
  right: 87.79%;
  left: 6.6%;
  width: 5.61%;
  bottom: 51.02%;
  top: 36.73%;
  height: 12.24%;
  overflow: visible;
}
.location-1 {
  height: auto;
  position: absolute;
  right: 88.45%;
  left: 7.59%;
  width: 3.96%;
  bottom: 21.09%;
  top: 68.71%;
  height: 10.2%;
  overflow: visible;
}
.rectangle-11 {
  border-radius: 0px;
  height: auto;
  position: absolute;
  right: 5.94%;
  left: 66.67%;
  width: 27.39%;
  bottom: 38.78%;
  top: 38.1%;
  height: 23.13%;
  overflow: visible;
}
.buy-ticket {
  color: #f5f5f5;
  text-align: left;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 13px;
  font-weight: 500;
  position: absolute;
  right: 8.58%;
  left: 69.31%;
  width: 22.11%;
  bottom: 43.54%;
  top: 42.86%;
  height: 13.61%;
}
.price {
  color: #b9b5c4;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 13px;
  font-weight: 500;
  position: absolute;
  right: 19.47%;
  left: 69.31%;
  width: 11.22%;
  bottom: 13.61%;
  top: 76.19%;
  height: 10.2%;
}
.rs-15 {
  color: #d84130;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 13px;
  font-weight: 500;
  position: absolute;
  right: 8.25%;
  left: 81.85%;
  width: 9.9%;
  bottom: 13.61%;
  top: 76.19%;
  height: 10.2%;
}
.ksrtc {
  color: #3e548d;
  text-align: left;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 18px;
  font-weight: 500;
  position: absolute;
  right: 76.9%;
  left: 3.96%;
  width: 19.14%;
  bottom: 74.15%;
  top: 7.48%;
  height: 18.37%;
}
.ticket-2 {
  width: 303px;
  height: 147px;
  position: absolute;
  left: 36px;
  top: 373px;
}
.subtract2 {
  width: 303px;
  height: 147px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
._9-45-am {
  color: #3e548d;
  text-align: left;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 18px;
  font-weight: 500;
  position: absolute;
  right: 4.29%;
  left: 70.3%;
  width: 25.41%;
  bottom: 74.15%;
  top: 7.48%;
  height: 18.37%;
}
.send-12 {
  height: auto;
  position: absolute;
  right: 87.79%;
  left: 6.6%;
  width: 5.61%;
  bottom: 51.02%;
  top: 36.73%;
  height: 12.24%;
  overflow: visible;
}
.location-12 {
  height: auto;
  position: absolute;
  right: 88.45%;
  left: 7.59%;
  width: 3.96%;
  bottom: 21.09%;
  top: 68.71%;
  height: 10.2%;
  overflow: visible;
}
.rectangle-112 {
  border-radius: 0px;
  height: auto;
  position: absolute;
  right: 5.94%;
  left: 66.67%;
  width: 27.39%;
  bottom: 38.78%;
  top: 38.1%;
  height: 23.13%;
  overflow: visible;
}
.city-bus {
  color: #3e548d;
  text-align: left;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 18px;
  font-weight: 500;
  position: absolute;
  right: 71.62%;
  left: 3.96%;
  width: 24.42%;
  bottom: 74.15%;
  top: 7.48%;
  height: 18.37%;
}
.ticket-3 {
  width: 303px;
  height: 147px;
  position: absolute;
  left: 36px;
  top: 545px;
}
.subtract3 {
  width: 303px;
  height: 147px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
._8-50-am {
  color: #3e548d;
  text-align: left;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 18px;
  font-weight: 500;
  position: absolute;
  right: 4.29%;
  left: 70.3%;
  width: 25.41%;
  bottom: 74.15%;
  top: 7.48%;
  height: 18.37%;
}
.rectangle-12 {
  background: #8bd8bd;
  border-radius: 10px;
  position: absolute;
  right: 85.15%;
  left: 4.29%;
  width: 10.56%;
  bottom: 46.26%;
  top: 31.97%;
  height: 21.77%;
}
.line-2 {
  border-style: dashed;
  border-color: #f4f2f5;
  border-width: 2px 0 0 0;
  position: absolute;
  right: 1.47%;
  left: 61.22%;
  width: 37.31%;
  bottom: 12.23%;
  top: 87.77%;
  height: 0%;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.rectangle-13 {
  background: #8bd8bd;
  border-radius: 10px;
  position: absolute;
  right: 85.15%;
  left: 4.29%;
  width: 10.56%;
  bottom: 15.65%;
  top: 62.59%;
  height: 21.77%;
}
.send-2 {
  height: auto;
  position: absolute;
  right: 87.79%;
  left: 6.6%;
  width: 5.61%;
  bottom: 51.02%;
  top: 36.73%;
  height: 12.24%;
  overflow: visible;
}
.location-2 {
  height: auto;
  position: absolute;
  right: 88.45%;
  left: 7.59%;
  width: 3.96%;
  bottom: 21.09%;
  top: 68.71%;
  height: 10.2%;
  overflow: visible;
}
.rectangle-14 {
  border-radius: 0px;
  height: auto;
  position: absolute;
  right: 5.94%;
  left: 66.67%;
  width: 27.39%;
  bottom: 38.78%;
  top: 38.1%;
  height: 23.13%;
  overflow: visible;
}
.rs-18 {
  color: #d84130;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 13px;
  font-weight: 500;
  position: absolute;
  right: 8.25%;
  left: 81.85%;
  width: 9.9%;
  bottom: 13.61%;
  top: 76.19%;
  height: 10.2%;
}
.private-bus {
  color: #3e548d;
  text-align: left;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 18px;
  font-weight: 500;
  position: absolute;
  right: 62.71%;
  left: 3.96%;
  width: 33.33%;
  bottom: 74.15%;
  top: 7.48%;
  height: 18.37%;
}
.rectangle-15 {
  background: #ffffff;
  border-radius: 50px;
  width: 337px;
  height: 70px;
  position: absolute;
  left: 19px;
  top: 718px;
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-16 {
  background: #4ccb9e;
  border-radius: 50px;
  width: 112px;
  height: 42px;
  position: absolute;
  left: 37px;
  top: 733px;
}
.compass-1 {
  width: 20px;
  height: 19px;
  position: absolute;
  left: 49px;
  top: 745px;
  overflow: visible;
}
.explore {
  color: #243665;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  left: 75px;
  top: 741px;
}
.ticket-12 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 191px;
  top: 741px;
  overflow: visible;
}
.user-1 {
  width: 17px;
  height: 18px;
  position: absolute;
  left: 287px;
  top: 743px;
  overflow: visible;
}
.right-left-arrow-1 {
  width: 29px;
  height: 26px;
  position: absolute;
  left: 181px;
  top: 50px;
  overflow: visible;
}

*{
  margin: auto;
}

.rectangle-3:hover{
  transform: scale(1.1);
}

.rectangle-4:hover{
  transform: scale(1.1);
}

.rectangle-5:hover{
  transform: scale(1.1);
}

.rectangle-6:hover{
  transform: scale(1.1);
}

.rectangle-7:hover{
  transform: scale(1.1);
}


.rectangle-16:hover{
  transform: scale(1.1);
}

.rectangle-11:hover{
  transform: scale(1.1);
}

.rectangle-14:hover{
  transform: scale(1.1);
}

.rectangle-12:hover{
  transform: scale(1.1);
}

.rectangle-13:hover{
  transform: scale(1.1);
}

.rectangle-9:hover{
  transform: scale(1.1);
}
.rectangle-10:hover{
  transform: scale(1.1);
}
.rectangle-112:hover{
  transform: scale(1.1);
}


